{
	"groups" : [
        {
              	"groupName": "webprod", 
		"username" : "ubuntu",
                "sshKey"   : "/root/.ssh/prodkey.pem",
                "elbName"  : "PROD01-WEB0-webELB-XXXXXXX"
        },
        {
                "groupName": "dbprod",
                "username" : "ubuntu",
                "sshKey"   : "/root/.ssh/prodkey.pem",
                "elbName"  : "PROD01-SE-DBE-XXXXXXX"
        }
        ]
}
